.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: flex-end;
  align-self: flex-end;

  img {
    @include adaptiv-value("width", 15, 5, 0);
    @include adaptiv-value("height", 15, 5, 0);
    transition: all 0.4s ease;

    &:hover {
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}
