// Стилі для розділу "Контакти"
.contacts-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(224, 170, 88);

  .contacts {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 100;
    width: 50%;
    background-color: $popupColorBg;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    transition: transform 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include adaptiv-value("padding-top", 40, 10, 0);
    @include adaptiv-value("padding-left", 20, 5, 0);
    @include adaptiv-value("padding-bottom", 40, 10, 0);
    @include adaptiv-value("padding-right", 20, 5, 0);

    @include adaptiv-value("font-size", 30, 12, 0);

    div {
      @include adaptiv-value("margin-bottom", 20, 8, 0);
    }
    img {
      @include adaptiv-value("width", 40, 20, 0);
    }
    a {
      margin-left: 15px;
    }
    @media (max-width: 576px) {
      width: 80%;
    }
  }
}
