.favorite-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 200;

  h1 {
    font-weight: 900;
  }

  .favorite {
    position: relative;
    max-width: 70%;
    min-width: 70%;
    max-height: 90%;
    min-height: 20%;
    background-color: $addColorBg;
    @include adaptiv-value("border-radius", 20, 5, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-family: "Cormorant Infant", serif;
    transition: transform 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    @include adaptiv-value("padding-top", 10, 5, 0);
    @include adaptiv-value("padding-left", 15, 5, 0);
    @include adaptiv-value("padding-bottom", 20, 5, 0);
    @include adaptiv-value("padding-right", 10, 5, 0);

    @include adaptiv-value("font-size", 20, 8, 0);

    @media (max-width: 576px) {
      max-width: 90%;
    }

    // .favorite__products-in-favorite
    &__products-in-favorite {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    // .favorite__product-item
    &__product-item {
      max-width: 30%;
      @include adaptiv-value("margin-bottom", 5, 1, 0);
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 10px;

      .close {
        position: absolute;
        top: 4px;
        right: 10px;
      }
    }

    // .favorite__img-product
    &__img-product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        @include adaptiv-value("margin-right", 10, 2, 0);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      img:hover {
        cursor: pointer;
      }
    }

    // .favorite__count-product
    &__count-product {
      input {
        @include adaptiv-value("font-size", 20, 10, 0);
        text-align: center;
        width: 30px;
        @include adaptiv-value("width", 50, 25, 0);
        @include adaptiv-value("height", 25, 10, 0);
      }
    }

    // .favorite__total
    &__total {
      display: none;
    }
  }
}
