// Стилі для розділу "Про мене"
.for-me-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(224, 170, 88);
  position: relative;

  .for-me {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 100;
    width: 50%;
    min-height: 50%;
    background-color: $popupColorBg;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    transition: transform 1s ease;

    @include adaptiv-value("padding-top", 20, 5, 0);
    @include adaptiv-value("padding-left", 20, 5, 0);
    @include adaptiv-value("padding-bottom", 20, 5, 0);
    @include adaptiv-value("padding-right", 20, 5, 0);

    @include adaptiv-value("font-size", 16, 10, 0);

    @include adaptiv-value("text-indent", 20, 12, 0);

    p {
      margin-bottom: 10px;
    }
    @media (max-width: 576px) {
      width: 80%;
    }
  }
}
