// Стилі для шапки сайту
.header {
  // .header__wrapper
  &__wrapper {
    @include adaptiv-value("padding-top", 10, 5, 0);
    @include adaptiv-value("padding-right", 15, 5, 0);
    @include adaptiv-value("padding-bottom", 10, 5, 0);
    @include adaptiv-value("padding-left", 15, 5, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value("font-size", 34, 8, 0);
  }

  // .header__logo
  &__logo {
    width: 150 / $widthWrapper * 100%;
    overflow: hidden;
  }

  // .header__logo-img
  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // .header__menu
  &__menu {
    flex: 0 0 930 / $widthWrapper * 100%;
    font-weight: 700;
  }

  // .header__menu-list
  &__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .header__menu-item
  &__menu-item {
    @include adaptiv-value("margin-left", 18, 10, 0);
    :hover {
      background: rgba(252, 211, 211, 0.8);
      transition: all 0.3s ease;
      border-radius: 10px;
      // text-decoration: underline;
    }
  }

  // .header__user
  &__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .favorite {
      // .favorite__icon-img
      &__icon-img {
        @include adaptiv-value("width", 30, 12, 0);
        @include adaptiv-value("margin-right", 10, 5, 0);
      }

      span {
        top: 0;
        right: 0;
      }
    }

    .account {
      // .account__icon-img
      &__icon-img {
        @include adaptiv-value("width", 30, 12, 0);
        @include adaptiv-value("margin-right", 10, 5, 0);
      }
    }

    .cart {
      // .cart__icon-img
      &__icon-img {
        @include adaptiv-value("width", 30, 12, 0);
      }
    }
    span {
      position: absolute;
      @include adaptiv-value("width", 20, 8, 0);
      @include adaptiv-value("height", 20, 8, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiv-value("top", 0, 0, 0);
      @include adaptiv-value("right", -9, -3, 0);
      border-radius: 50%;
      background-color: #eb8500;
      color: #ffffff;
      @include adaptiv-value("font-size", 12, 6, 0);
    }
  }

  // .header__favorite
  &__favorite {
    position: relative;
  }

  // .header__cart
  &__cart {
    position: relative;
  }
}
