// Стилі для меню-навігації - категорії іграшок
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include adaptiv-value("margin-top", 10, 5, 0);
  @include adaptiv-value("margin-bottom", 10, 5, 0);
  padding: 10px;

  // .nav-menu__item
  &__item {
    text-align: center;
    transition: all 0.2s;
    margin: 0 5px;
  }
  &__item-scale {
    transform: scale(1.2);
    cursor: pointer;
  }

  // .nav-menu__img
  &__img {
    margin: 0 auto;
  }
  // .nav-menu__img img
  &__img img {
    @include adaptiv-value("width", 60, 25, 0);
  }

  // .nav-menu__title
  &__title {
    @include adaptiv-value("font-size", 24, 8, 0);
    font-weight: 700;
    color: #9a1b8b;
  }
}
