// Стилі для слайдера
.slider-wrapper {
  .slider {
    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      z-index: 10;
      font-size: 0;
      @include adaptiv-value("width", 30, 15, 0);
      @include adaptiv-value("height", 30, 15, 0);
    }
    .slick-prev {
      left: 0;
      background: url("../image/icon/arrow_left.svg") 0 0 /100% no-repeat;
    }
    .slick-next {
      right: 0;
      background: url("../image/icon/arrow_right.svg") 0 0 /100% no-repeat;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slick-dots li {
      list-style: none;
      @include adaptiv-value("margin-left", 10, 5, 0);
    }
    .slick-dots li.slick-active button {
      background-color: transparent;
      border: 1px solid rgb(243, 102, 102);
    }
    .slick-dots button {
      font-size: 0;
      @include adaptiv-value("width", 10, 5, 0);
      @include adaptiv-value("height", 10, 5, 0);
      background-color: rgb(243, 102, 102);
      border-radius: 50%;
    }

    // .slider__item
    &__item {
      width: 100%;
      // height: 60vh;
      @include adaptiv-value("height", 400, 200, 0);
      overflow: hidden;
    }

    // .slider__img
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
