@import "_adaptiv-value";
@import "_variables";
@import "_close.scss";

html {
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.wrapper {
  width: 80%;
  background: rgb(255, 218, 218);
  padding: 2rem 10px;
  text-align: center;
  display: block !important;
}
.main {
  text-align: left;
  form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 47% 47%;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: left;

    label {
      text-align: center;
      margin: 0 1rem;
    }
    button {
      background: rgba(255, 153, 153, 1);
      line-height: 2rem;
      border-radius: 10px;
    }
    button:hover {
      cursor: pointer;
      background: rgb(221, 121, 121);
    }
  }
}
#exit {
  text-align: center;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  font-size: 1rem;
  border-radius: 5px;
  background: rgb(255, 194, 153);
}
#exit:hover {
  cursor: pointer;
  background: rgb(241, 166, 112);
}
.images-wrapper {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1rem;
  div {
    display: flex;
  }
}
