/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
@media (min-width: 1920px) {
  .header .cart__icon-img {
    width: 40px !important;
    height: 40px !important;
  }
  .header__wrapper {
    font-size: 2rem !important;
  }
  .nav-menu__title {
    font-size: 2rem !important;
  }
  .nav-menu__img img {
    width: 90px !important;
  }
  .footer {
    font-size: 1.8rem !important;
  }
  .footer__social img {
    width: 50px !important;
  }
  .footer__for-me {
    font-size: 2.5rem !important;
  }
  .slider-wrapper .slider .slick-arrow {
    width: 40px !important;
    height: 40px !important;
  }
  .slider-wrapper .slider__item {
    height: 600px !important;
  }
  .product-card__labels {
    top: 10px !important;
    right: 10px !important;
  }
  .product-card__labels .label {
    width: 50px !important;
    height: 50px !important;
    font-size: 1rem !important;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: flex-end;
  align-self: flex-end;
}

.close img {
  width: calc( 5px + 10 * ((100vw - 320px) /960));
  height: calc( 5px + 10 * ((100vw - 320px) /960));
  transition: all 0.4s ease;
}

.close img:hover {
  transform: rotate(45deg);
  cursor: pointer;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.wrapper {
  width: 80%;
  background: #ffdada;
  padding: 2rem 10px;
  text-align: center;
  display: block !important;
}

.main {
  text-align: left;
}

.main form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 47% 47%;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.main form label {
  text-align: center;
  margin: 0 1rem;
}

.main form button {
  background: #ff9999;
  line-height: 2rem;
  border-radius: 10px;
}

.main form button:hover {
  cursor: pointer;
  background: #dd7979;
}

#exit {
  text-align: center;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  font-size: 1rem;
  border-radius: 5px;
  background: #ffc299;
}

#exit:hover {
  cursor: pointer;
  background: #f1a670;
}

.images-wrapper {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1rem;
}

.images-wrapper div {
  display: flex;
}
