@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
@media (min-width: 1920px) {
  .header .cart__icon-img {
    width: 40px !important;
    height: 40px !important;
  }
  .header__wrapper {
    font-size: 2rem !important;
  }
  .nav-menu__title {
    font-size: 2rem !important;
  }
  .nav-menu__img img {
    width: 90px !important;
  }
  .footer {
    font-size: 1.8rem !important;
  }
  .footer__social img {
    width: 50px !important;
  }
  .footer__for-me {
    font-size: 2.5rem !important;
  }
  .slider-wrapper .slider .slick-arrow {
    width: 40px !important;
    height: 40px !important;
  }
  .slider-wrapper .slider__item {
    height: 600px !important;
  }
  .product-card__labels {
    top: 10px !important;
    right: 10px !important;
  }
  .product-card__labels .label {
    width: 50px !important;
    height: 50px !important;
    font-size: 1rem !important;
  }
}

/* ================================================================================================================================ */
html {
  font-size: 18px;
  font-family: "Cormorant Infant", serif;
}

body {
  background-image: url("../image/background/9.png");
  background-repeat: repeat;
  padding: 0 15px;
  color: #9a1b8b;
}

.overflowHidden {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #9a1b8b;
  font-weight: 900;
  display: inline-block;
}

a:hover {
  color: #660d57;
  transform: scale(1.08);
  transition: all 0.3s ease;
}

.visible {
  transition: transform 1s ease;
  transform: translate(-50%, -50%) !important;
}

/* ================================================================================================================================ */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #faf7f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* ================================================================================================================================ */
  /* ================================================================================================================================ */
  /* ================================================================================================================================ */
  /* ============================================================================================================================ */
  /* ============================================================================================================================ */
}

.wrapper .header__wrapper {
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc( 8px + 26 * ((100vw - 320px) /960));
}

.wrapper .header__logo {
  width: 11.71875%;
  overflow: hidden;
}

.wrapper .header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper .header__menu {
  flex: 0 0 72.65625%;
  font-weight: 700;
}

.wrapper .header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header__menu-item {
  margin-left: calc( 10px + 8 * ((100vw - 320px) /960));
}

.wrapper .header__menu-item :hover {
  background: rgba(252, 211, 211, 0.8);
  transition: all 0.3s ease;
  border-radius: 10px;
}

.wrapper .header__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper .header__user .favorite__icon-img {
  width: calc( 12px + 18 * ((100vw - 320px) /960));
  margin-right: calc( 5px + 5 * ((100vw - 320px) /960));
}

.wrapper .header__user .favorite span {
  top: 0;
  right: 0;
}

.wrapper .header__user .account__icon-img {
  width: calc( 12px + 18 * ((100vw - 320px) /960));
  margin-right: calc( 5px + 5 * ((100vw - 320px) /960));
}

.wrapper .header__user .cart__icon-img {
  width: calc( 12px + 18 * ((100vw - 320px) /960));
}

.wrapper .header__user span {
  position: absolute;
  width: calc( 8px + 12 * ((100vw - 320px) /960));
  height: calc( 8px + 12 * ((100vw - 320px) /960));
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc( 0px + 0 * ((100vw - 320px) /960));
  right: calc( -3px + -6 * ((100vw - 320px) /960));
  border-radius: 50%;
  background-color: #eb8500;
  color: #ffffff;
  font-size: calc( 6px + 6 * ((100vw - 320px) /960));
}

.wrapper .header__favorite {
  position: relative;
}

.wrapper .header__cart {
  position: relative;
}

.wrapper .slider-wrapper .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 10;
  font-size: 0;
  width: calc( 15px + 15 * ((100vw - 320px) /960));
  height: calc( 15px + 15 * ((100vw - 320px) /960));
}

.wrapper .slider-wrapper .slider .slick-prev {
  left: 0;
  background: url("../image/icon/arrow_left.svg") 0 0/100% no-repeat;
}

.wrapper .slider-wrapper .slider .slick-next {
  right: 0;
  background: url("../image/icon/arrow_right.svg") 0 0/100% no-repeat;
}

.wrapper .slider-wrapper .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .slider-wrapper .slider .slick-dots li {
  list-style: none;
  margin-left: calc( 5px + 5 * ((100vw - 320px) /960));
}

.wrapper .slider-wrapper .slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #f36666;
}

.wrapper .slider-wrapper .slider .slick-dots button {
  font-size: 0;
  width: calc( 5px + 5 * ((100vw - 320px) /960));
  height: calc( 5px + 5 * ((100vw - 320px) /960));
  background-color: #f36666;
  border-radius: 50%;
}

.wrapper .slider-wrapper .slider__item {
  width: 100%;
  height: calc( 200px + 200 * ((100vw - 320px) /960));
  overflow: hidden;
}

.wrapper .slider-wrapper .slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ============================================================================================================================ */
  /* ============================================================================================================================ */
  /* ============================================================================================================================ */
}

.wrapper .main .nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc( 5px + 5 * ((100vw - 320px) /960));
  margin-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
  padding: 10px;
}

.wrapper .main .nav-menu__item {
  text-align: center;
  transition: all 0.2s;
  margin: 0 5px;
}

.wrapper .main .nav-menu__item-scale {
  transform: scale(1.2);
  cursor: pointer;
}

.wrapper .main .nav-menu__img {
  margin: 0 auto;
}

.wrapper .main .nav-menu__img img {
  width: calc( 25px + 35 * ((100vw - 320px) /960));
}

.wrapper .main .nav-menu__title {
  font-size: calc( 8px + 16 * ((100vw - 320px) /960));
  font-weight: 700;
  color: #9a1b8b;
}

.wrapper .main .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}

.wrapper .main .cards-wrapper .product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 241, 241, 0.95);
  font-family: "Caveat";
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.1s;
}

.wrapper .main .cards-wrapper .product-card__labels {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: calc( 10px + 5 * ((100vw - 320px) /960));
  right: calc( 10px + 5 * ((100vw - 320px) /960));
}

.wrapper .main .cards-wrapper .product-card__labels .label {
  height: calc( 30px + 20 * ((100vw - 320px) /960));
  width: calc( 30px + 20 * ((100vw - 320px) /960));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
}

@media (max-width: 1280px) {
  .wrapper .main .cards-wrapper .product-card__labels .label {
    font-size: calc( 12px + 9 * ((100vw - 320px) /960));
  }
}

.wrapper .main .cards-wrapper .product-card__labels .label:not(:last-child) {
  margin: 0 0 10px 0;
}

.wrapper .main .cards-wrapper .product-card__label-new {
  background-color: #8cd17f;
}

.wrapper .main .cards-wrapper .product-card__label-discount {
  background-color: #f7d875;
}

.wrapper .main .cards-wrapper .product-card .product-card__favorite {
  position: absolute;
  z-index: 200;
  width: 10%;
  top: 10px;
  left: 10px;
  transition: all 0.5s ease;
}

.wrapper .main .cards-wrapper .product-card .product-card__favorite img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0.7;
}

.wrapper .main .cards-wrapper .product-card .product-card__favorite img:hover {
  opacity: 0.5;
}

.wrapper .main .cards-wrapper .product-card__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper .main .cards-wrapper .product-card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper .main .cards-wrapper .product-card__img img:hover {
  cursor: pointer;
}

.wrapper .main .cards-wrapper .product-card__title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.wrapper .main .cards-wrapper .product-card__subtitle {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .wrapper .main .cards-wrapper .product-card__subtitle {
    margin-top: calc( 7px + 3 * ((100vw - 320px) /960));
  }
}

@media (max-width: 1280px) {
  .wrapper .main .cards-wrapper .product-card__subtitle {
    margin-bottom: calc( 7px + 3 * ((100vw - 320px) /960));
  }
}

.wrapper .main .cards-wrapper .product-card__price {
  display: flex;
  justify-content: space-evenly;
  font-size: 28px;
  font-weight: 700;
}

.wrapper .main .cards-wrapper .product-card__button {
  font-family: "Cormorant Infant", serif;
  font-size: 1.5rem;
  font-weight: 900;
  width: 80%;
  margin: 0.8rem auto;
  background-color: #fad7d7;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: 20px;
}

.wrapper .main .cards-wrapper .product-card__button:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

.wrapper .main .cards-wrapper .product-card:hover {
  transform: scale(1.04);
}

.wrapper .main .main__more-button {
  margin: 1rem auto;
  font-size: calc( 15px + 5 * ((100vw - 320px) /960));
  font-weight: 900;
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  border-radius: 8px;
  background-color: #fad7d7;
  transition: all ease 0.2s;
}

.wrapper .main .main__more-button:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

.wrapper .footer {
  margin-top: calc( 15px + 5 * ((100vw - 320px) /960));
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 25 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
  font-weight: 900;
  background: #fadcdc;
}

.wrapper .footer__logo {
  flex: 0 0 15%;
  overflow: hidden;
}

.wrapper .footer__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper .footer__menu {
  flex: 0 0 86%;
}

.wrapper .footer__menu-list {
  display: flex;
  justify-content: space-around;
}

.wrapper .footer__menu-list-item {
  flex: 0 0 33%;
  justify-content: center;
  text-align: center;
}

.wrapper .footer__for-me {
  font-size: calc( 10px + 20 * ((100vw - 320px) /960));
  align-self: center;
}

.wrapper .footer__social img {
  width: calc( 15px + 15 * ((100vw - 320px) /960));
  margin-right: 0.5rem;
  margin-right: calc( 4px + 5 * ((100vw - 320px) /960));
}

.wrapper .footer__social span,
.wrapper .footer__contacts span {
  display: block;
  margin-bottom: calc( 4px + 5 * ((100vw - 320px) /960));
  margin-top: calc( 4px + 5 * ((100vw - 320px) /960));
}

.wrapper .footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper .footer__contacts img {
  width: calc( 10px + 30 * ((100vw - 320px) /960));
}

.wrapper .thank-for-order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  max-width: 70%;
  max-height: 90%;
  background-color: rgba(255, 203, 203, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Infant", serif;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 10 * ((100vw - 320px) /960));
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
  font-weight: 900;
}

/* ================================================================================================================================ */
.hide {
  display: none !important;
}

#back-to-start {
  width: calc( 30px + 20 * ((100vw - 320px) /960));
  bottom: calc( 10px + 40 * ((100vw - 320px) /960));
  right: calc( 10px + 40 * ((100vw - 320px) /960));
  position: fixed;
  z-index: 50;
}

#back-to-start img {
  width: 100%;
}

/* ================================================================================================================================ */
.flyImage {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 2s ease 0s;
}

/* ================================================================================================================================ */
.for-me-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #e0aa58;
  position: relative;
}

.for-me-wrapper .for-me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  z-index: 100;
  width: 50%;
  min-height: 50%;
  background-color: rgba(255, 203, 203, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  transition: transform 1s ease;
  padding-top: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 15 * ((100vw - 320px) /960));
  font-size: calc( 10px + 6 * ((100vw - 320px) /960));
  text-indent: calc( 12px + 8 * ((100vw - 320px) /960));
}

.for-me-wrapper .for-me p {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .for-me-wrapper .for-me {
    width: 80%;
  }
}

/* ================================================================================================================================ */
.contacts-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #e0aa58;
}

.contacts-wrapper .contacts {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  z-index: 100;
  width: 50%;
  background-color: rgba(255, 203, 203, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: calc( 10px + 30 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-bottom: calc( 10px + 30 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 15 * ((100vw - 320px) /960));
  font-size: calc( 12px + 18 * ((100vw - 320px) /960));
}

.contacts-wrapper .contacts div {
  margin-bottom: calc( 8px + 12 * ((100vw - 320px) /960));
}

.contacts-wrapper .contacts img {
  width: calc( 20px + 20 * ((100vw - 320px) /960));
}

.contacts-wrapper .contacts a {
  margin-left: 15px;
}

@media (max-width: 576px) {
  .contacts-wrapper .contacts {
    width: 80%;
  }
}

/* ================================================================================================================================ */
.account-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.account-wrapper .account {
  background: rgba(255, 203, 203, 0.8);
  position: relative;
  width: calc( 200px + 200 * ((100vw - 320px) /960));
  max-height: 90%;
  background-color: rgba(255, 241, 241, 0.95);
  border-radius: calc( 5px + 15 * ((100vw - 320px) /960));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Infant", serif;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: calc( 8px + 12 * ((100vw - 320px) /960));
  font-size: calc( 12px + 8 * ((100vw - 320px) /960));
}

.account-wrapper .account .close {
  top: calc( 5px + 5 * ((100vw - 320px) /960));
  right: calc( 5px + 5 * ((100vw - 320px) /960));
}

.account-wrapper .account .close img {
  width: calc( 8px + 7 * ((100vw - 320px) /960));
  height: calc( 8px + 7 * ((100vw - 320px) /960));
}

.account-wrapper .account input {
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  width: calc( 100px + 100 * ((100vw - 320px) /960));
  margin: calc( 3px + 7 * ((100vw - 320px) /960));
  text-align: center;
  border: #660d57 solid 1px;
}

.account-wrapper .account button {
  font-family: "Cormorant Infant", serif;
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  font-weight: 900;
  background-color: #fab9b9;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: 20px;
  margin-top: calc( 4px + 6 * ((100vw - 320px) /960));
  padding-bottom: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-top: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-right: calc( 20px + 20 * ((100vw - 320px) /960));
  padding-left: calc( 20px + 20 * ((100vw - 320px) /960));
}

.account-wrapper .account button:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

.account-wrapper .account__logOrReg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
}

.account-wrapper .account__login {
  margin-right: calc( 15px + 15 * ((100vw - 320px) /960));
}

.account-wrapper .account__login-form {
  display: flex;
}

.account-wrapper .account__login-form #login-form {
  flex-direction: column;
}

.account-wrapper .account__register-form {
  display: none;
}

.account-wrapper .account__register-form #register-form {
  flex-direction: column;
}

.uncorrect {
  border: 2px solid red !important;
  animation: uncorrect 0.1s ease 3;
}

/* ================================================================================================================================ */
.cart-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.cart-wrapper h1 {
  font-weight: 900;
}

.cart-wrapper h2 {
  font-weight: 600;
  text-align: left;
}

.cart-wrapper input[type="radio"] {
  width: calc( 5px + 7 * ((100vw - 320px) /960));
  height: calc( 5px + 7 * ((100vw - 320px) /960));
}

.cart-wrapper .cart {
  position: relative;
  max-width: 70%;
  max-height: 90%;
  background-color: rgba(255, 241, 241, 0.95);
  border-radius: calc( 5px + 15 * ((100vw - 320px) /960));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Infant", serif;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 5 * ((100vw - 320px) /960));
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
}

@media (max-width: 576px) {
  .cart-wrapper .cart {
    max-width: 90%;
  }
}

.cart-wrapper .cart div {
  margin-bottom: calc( 1px + 4 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__product-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  gap: calc( 1px + 4 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__product-item > div {
  padding: calc( 2px + 8 * ((100vw - 320px) /960));
  background: #ffe0e0;
}

.cart-wrapper .cart__img-product {
  display: flex;
  justify-content: start;
}

.cart-wrapper .cart__img-product img {
  margin-right: calc( 2px + 8 * ((100vw - 320px) /960));
  width: 30%;
}

.cart-wrapper .cart__count-product input {
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  text-align: center;
  width: 30px;
  width: calc( 25px + 25 * ((100vw - 320px) /960));
  height: calc( 10px + 15 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__delete-product .delete-product-button img {
  min-width: 8px;
  max-width: 40%;
}

.cart-wrapper .cart__total {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.cart-wrapper .cart__pay-wrapper {
  padding-bottom: calc( 2px + 28 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__pay div {
  text-align: left;
}

.cart-wrapper .cart__delivery-wrapper {
  padding-bottom: calc( 2px + 28 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__delivery {
  text-align: left;
}

.cart-wrapper .cart__delivery-textarea textarea {
  width: 70%;
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 15 * ((100vw - 320px) /960));
  border-radius: 6px;
  resize: none;
}

.cart-wrapper .cart__tel {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.cart-wrapper .cart__tel input {
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
  width: calc( 60px + 140 * ((100vw - 320px) /960));
  height: calc( 15px + 15 * ((100vw - 320px) /960));
  text-align: center;
  border: #660d57 solid 1px;
}

.cart-wrapper .cart__button {
  font-family: "Cormorant Infant", serif;
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
  font-weight: 900;
  margin: 0.8rem auto;
  background-color: #fab9b9;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: 20px;
  padding-bottom: calc( 4px + 4 * ((100vw - 320px) /960));
  padding-top: calc( 4px + 4 * ((100vw - 320px) /960));
  padding-right: calc( 8px + 8 * ((100vw - 320px) /960));
  padding-left: calc( 6px + 10 * ((100vw - 320px) /960));
}

.cart-wrapper .cart__button:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

.cart-wrapper .close {
  position: sticky;
}

/* ================================================================================================================================ */
.product-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.product {
  padding: calc( 3px + 3 * ((100vw - 320px) /960));
  border-radius: calc( 3px + 3 * ((100vw - 320px) /960));
  display: flex;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  background-color: rgba(255, 241, 241, 0.95);
  position: relative;
  /* ====================================================================== */
  /* ====================================================================== */
  /* ====================================================================== */
  /* ====================================================================== */
}

@media (max-width: 576px) {
  .product {
    width: 90%;
  }
}

.product__slider-wrapper {
  width: 60%;
}

.product__slider {
  padding-bottom: calc( 1px + 2 * ((100vw - 320px) /960));
}

.product__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: calc( -15px + -25 * ((100vw - 320px) /960));
  z-index: 10;
  font-size: 0;
  width: calc( 10px + 20 * ((100vw - 320px) /960));
  height: calc( 10px + 20 * ((100vw - 320px) /960));
}

.product__slider .slick-prev {
  left: 0;
  background: url("../image/icon/arrow_left.svg") 0 0/100% no-repeat;
}

.product__slider .slick-next {
  right: 0;
  background: url("../image/icon/arrow_right.svg") 0 0/100% no-repeat;
}

.product__slider-item {
  width: 100%;
  height: calc( 200px + 300 * ((100vw - 320px) /960));
  overflow: hidden;
}

@media (max-width: 576px) {
  .product__slider-item {
    height: 40%;
  }
}

.product__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product__slider-nav-item {
  height: calc( 20px + 80 * ((100vw - 320px) /960));
  overflow: hidden;
  margin-right: calc( 1px + 2 * ((100vw - 320px) /960));
}

.product__slider-nav-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product__description-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.product__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.product__description div {
  margin-bottom: calc( 10px + 10 * ((100vw - 320px) /960));
}

.product__title {
  font-size: calc( 12px + 20 * ((100vw - 320px) /960));
  font-weight: 900;
}

.product__text {
  font-size: calc( 10px + 14 * ((100vw - 320px) /960));
}

.product__price {
  font-size: calc( 10px + 14 * ((100vw - 320px) /960));
}

.product__button {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: calc( 10px + 14 * ((100vw - 320px) /960));
  padding-top: calc( 2px + 2 * ((100vw - 320px) /960));
  padding-bottom: calc( 2px + 4 * ((100vw - 320px) /960));
  padding-left: calc( 8px + 12 * ((100vw - 320px) /960));
  padding-right: calc( 8px + 12 * ((100vw - 320px) /960));
  background-color: #fad7d7;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: calc( 10px + 10 * ((100vw - 320px) /960));
}

.product__button:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

/* ================================================================================================================================ */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: flex-end;
  align-self: flex-end;
}

.close img {
  width: calc( 5px + 10 * ((100vw - 320px) /960));
  height: calc( 5px + 10 * ((100vw - 320px) /960));
  transition: all 0.4s ease;
}

.close img:hover {
  transform: rotate(45deg);
  cursor: pointer;
}

/* ================================================================================================================================ */
.favorite-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.favorite-wrapper h1 {
  font-weight: 900;
}

.favorite-wrapper .favorite {
  position: relative;
  max-width: 70%;
  min-width: 70%;
  max-height: 90%;
  min-height: 20%;
  background-color: rgba(255, 241, 241, 0.95);
  border-radius: calc( 5px + 15 * ((100vw - 320px) /960));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  color: black;
  font-family: "Cormorant Infant", serif;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  padding-top: calc( 5px + 5 * ((100vw - 320px) /960));
  padding-left: calc( 5px + 10 * ((100vw - 320px) /960));
  padding-bottom: calc( 5px + 15 * ((100vw - 320px) /960));
  padding-right: calc( 5px + 5 * ((100vw - 320px) /960));
  font-size: calc( 8px + 12 * ((100vw - 320px) /960));
}

@media (max-width: 576px) {
  .favorite-wrapper .favorite {
    max-width: 90%;
  }
}

.favorite-wrapper .favorite__products-in-favorite {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.favorite-wrapper .favorite__product-item {
  max-width: 30%;
  margin-bottom: calc( 1px + 4 * ((100vw - 320px) /960));
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px;
}

.favorite-wrapper .favorite__product-item .close {
  position: absolute;
  top: 4px;
  right: 10px;
}

.favorite-wrapper .favorite__img-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.favorite-wrapper .favorite__img-product img {
  margin-right: calc( 2px + 8 * ((100vw - 320px) /960));
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-wrapper .favorite__img-product img:hover {
  cursor: pointer;
}

.favorite-wrapper .favorite__count-product input {
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  text-align: center;
  width: 30px;
  width: calc( 25px + 25 * ((100vw - 320px) /960));
  height: calc( 10px + 15 * ((100vw - 320px) /960));
}

.favorite-wrapper .favorite__total {
  display: none;
}

/* ================================================================================================================================ */
@media (max-width: 576px) {
  .footer {
    flex-direction: column;
  }
  .footer__logo {
    display: none;
  }
  .footer__menu-list {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  .header__menu {
    font-size: 1.8rem;
  }
}

@media (max-width: 520px) {
  .nav-menu {
    overflow-x: scroll;
  }
}
